In [1]:
import requests
import pandas as pd
from alpha_vantage.timeseries import TimeSeries

C:\Users\estif\AppData\Local\Temp\ipykernel_11580\2663095306.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
#timeseries data

API_Key = '9BYLRNBOY35E9NTL&datatype'

ts = TimeSeries(key = API_Key, output_format='pandas')

data = ts.get_monthly_adjusted('AAPL')

data[0]

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount
date,,,,,,,
2024-01-24,187.150,196.38,180.1700,194.50,194.5000,9.292509e+08,0.00
2023-12-29,190.330,199.62,187.4511,192.53,192.5300,1.062318e+09,0.00
2023-11-30,171.000,192.93,170.1200,189.95,189.9500,1.099761e+09,0.24
2023-10-31,171.220,182.34,165.6700,170.77,170.5504,1.172846e+09,0.00
2023-09-29,189.485,189.98,167.6200,171.21,170.9898,1.337874e+09,0.00
...,...,...,...,...,...,...,...
2000-04-28,135.500,139.50,104.8700,124.06,0.9389,7.734290e+07,0.00
2000-03-31,118.560,150.38,114.0000,135.81,1.0278,7.766390e+07,0.00
2000-02-29,104.000,119.94,97.0000,114.62,0.8674,6.535520e+07,0.00
2000-01-31,104.870,121.50,86.5000,103.75,0.7852,1.120998e+08,0.00
1999-12-31,101.000,118.00,91.0600,102.81,0.7781,8.409120e+07,0.00

In [3]:
#fundamental data
from alpha_vantage.fundamentaldata import FundamentalData

symbol = 'UBER'

fd = FundamentalData(API_Key, output_format = 'pandas')

uber_balance_sheet, meta_data = fd.get_balance_sheet_annual('UBER')
uber_balance_sheet

# uber_balance_sheet_last5 = uber_balance_sheet[0]

csv_filename = f'{symbol}_balance_sheet_last_five_years.csv'
uber_balance_sheet.to_csv(csv_filename)

In [4]:
## income statement

uber_income_statement, meta_data = fd.get_income_statement_annual(symbol)
uber_income_statement

csv_filename = f'{symbol}income_statement_last5.csv'
uber_income_statement.to_csv(csv_filename)

In [5]:
## Cash flow
uber_cash_flow, meta_data = fd.get_cash_flow_annual(symbol)

csv_filename = f'{symbol}_cash_flow_last5.csv'
uber_cash_flow.to_csv(csv_filename)